In [4]:
import getpass
from transmart_api import TransmartApi

api = TransmartApi(
    host = 'http://transmart-test.thehyve.net',
    user = input('Username:'),
    password = getpass.getpass('Password:'),
    apiversion = 2)

api.access()

Username:admin
Password:········

'SUCCESS'

In [5]:
import pandas

pandas.set_option('max_colwidth', 1000)
pandas.set_option("display.max_rows",100)

In [22]:
from pandas.io.json import json_normalize

study_id = 'EHR'
obs = api.get_observations(study = study_id)

http://transmart-test.thehyve.net/v2/observations?constraint={"type":"study_name","studyId":"EHR"}&type=clinical

In [7]:
json_normalize(obs['cells'])

,dimensionIndexes,inlineDimensions,numericValue
0,"[0, 0, None, 0]","[None, None]",30.0
1,"[1, 0, None, 0]","[None, None]",52.0
2,"[2, 1, 0, 0]","[None, None]",77.0
3,"[2, 1, 1, 0]","[None, None]",86.0
4,"[2, 0, None, 0]","[None, None]",35.0
5,"[2, 1, 2, 0]","[2015-12-31T23:00:01Z, 2015-12-30T22:55:00Z]",75.0
6,"[0, 1, 3, 0]","[2016-03-29T08:01:00Z, 2016-03-29T08:00:00Z]",60.0
7,"[0, 1, 3, 0]","[2016-03-29T08:11:00Z, 2016-03-29T08:10:00Z]",59.0
8,"[0, 1, 4, 0]","[None, 2016-03-29T22:00:00Z]",80.0
9,"[1, 1, 5, 0]","[2016-04-01T22:00:00Z, 2016-03-31T22:00:00Z]",78.0
10,"[1, 1, 5, 0]","[None, 2016-04-02T22:00:00Z]",56.0
11,"[1, 1, 6, 0]","[None, 2016-05-05T09:11:11Z]",102.0

In [8]:
json_normalize(obs['dimensionDeclarations'])

,fields,inline,name,type
0,NaN,True,end time,Timestamp
1,"[{'name': 'id', 'type': 'Int'}, {'name': 'trial', 'type': 'String'}, {'name': 'inTrialId', 'type': 'String'}, {'name': 'birthDate', 'type': 'Timestamp'}, {'name': 'deathDate', 'type': 'Timestamp'}, {'name': 'age', 'type': 'Int'}, {'name': 'race', 'type': 'String'}, {'name': 'maritalStatus', 'type': 'String'}, {'name': 'religion', 'type': 'String'}, {'name': 'sexCd', 'type': 'String'}, {'name': 'sex', 'type': 'String'}]",NaN,patient,Object
2,NaN,True,start time,Timestamp
3,"[{'name': 'conceptPath', 'type': 'String'}, {'name': 'conceptCode', 'type': 'String'}]",NaN,concept,Object
4,"[{'name': 'patientInTrialId', 'type': 'String'}, {'name': 'encounterNum', 'type': 'Double'}, {'name': 'activeStatusCd', 'type': 'String'}, {'name': 'startDate', 'type': 'Timestamp'}, {'name': 'endDate', 'type': 'Timestamp'}, {'name': 'inoutCd', 'type': 'String'}, {'name': 'locationCd', 'type': 'String'}]",NaN,visit,Object
5,"[{'name': 'name', 'type': 'String'}]",NaN,study,Object

In [14]:
json_normalize(obs['dimensionElements'])

,concept,patient,study,visit
0,"[{'conceptCode': 'EHR:DEM:AGE', 'conceptPath': '\Public Studies\EHR\Demography\Age\'}, {'conceptCode': 'EHR:VSIGN:HR', 'conceptPath': '\Public Studies\EHR\Vital Signs\Heart Rate\'}]","[{'religion': None, 'inTrialId': '1', 'birthDate': None, 'id': -62, 'deathDate': None, 'sexCd': 'Male', 'race': 'Caucasian', 'age': 30, 'maritalStatus': None, 'trial': 'EHR', 'sex': 'male'}, {'religion': None, 'inTrialId': '3', 'birthDate': None, 'id': -42, 'deathDate': None, 'sexCd': 'Female', 'race': 'Caucasian', 'age': 52, 'maritalStatus': None, 'trial': 'EHR', 'sex': 'female'}, {'religion': None, 'inTrialId': '2', 'birthDate': None, 'id': -52, 'deathDate': None, 'sexCd': 'Male', 'race': 'Latino', 'age': 35, 'maritalStatus': None, 'trial': 'EHR', 'sex': 'male'}]",[{'name': 'EHR'}],"[{'encounterNum': -71, 'activeStatusCd': None, 'patientInTrialId': '1', 'startDate': '2016-03-29T07:00:00Z', 'endDate': '2016-03-29T09:00:00Z', 'locationCd': None, 'inoutCd': None}, {'encounterNum': -72, 'activeStatusCd': None, 'patientInTrialId': '1', 'startDate': '2016-03-29T22:00:00Z', 'endDate': None, 'locationCd': None, 'inoutCd': None}, {'encounterNum': -81, 'activeStatusCd': None, 'patientInTrialId': '2', 'startDate': None, 'endDate': None, 'locationCd': None, 'inoutCd': None}, {'encounterNum': -82, 'activeStatusCd': None, 'patientInTrialId': '2', 'startDate': '2016-05-24T22:00:00Z', 'endDate': '2016-05-27T22:00:00Z', 'locationCd': None, 'inoutCd': None}, {'encounterNum': -83, 'activeStatusCd': None, 'patientInTrialId': '2', 'startDate': '2015-12-29T23:00:00Z', 'endDate': '2015-12-31T23:00:00Z', 'locationCd': None, 'inoutCd': None}, {'encounterNum': -91, 'activeStatusCd': None, 'patientInTrialId': '3', 'startDate': '2016-03-29T22:00:00Z', 'endDate': '2016-04-03T22:00:00Z', '..."

In [15]:
json_normalize(obs['dimensionElements']['concept'])

    conceptCode                                  conceptPath
0   EHR:DEM:AGE          \Public Studies\EHR\Demography\Age\
1  EHR:VSIGN:HR  \Public Studies\EHR\Vital Signs\Heart Rate\

In [16]:
json_normalize(obs['dimensionElements']['patient'])

,age,birthDate,deathDate,id,inTrialId,maritalStatus,race,religion,sex,sexCd,trial
0,30,None,None,-62,1,None,Caucasian,None,male,Male,EHR
1,52,None,None,-42,3,None,Caucasian,None,female,Female,EHR
2,35,None,None,-52,2,None,Latino,None,male,Male,EHR

In [17]:
json_normalize(obs['dimensionElements']['study'])

  name
0  EHR

In [19]:
json_normalize(obs['dimensionElements']['trial visit'])

KeyError: 'trial visit'

In [20]:
json_normalize(obs['dimensionElements']['visit'])

,activeStatusCd,encounterNum,endDate,inoutCd,locationCd,patientInTrialId,startDate
0,None,-71,2016-03-29T09:00:00Z,None,None,1,2016-03-29T07:00:00Z
1,None,-72,None,None,None,1,2016-03-29T22:00:00Z
2,None,-81,None,None,None,2,None
3,None,-82,2016-05-27T22:00:00Z,None,None,2,2016-05-24T22:00:00Z
4,None,-83,2015-12-31T23:00:00Z,None,None,2,2015-12-29T23:00:00Z
5,None,-91,2016-04-03T22:00:00Z,None,None,3,2016-03-29T22:00:00Z
6,None,-92,2016-05-05T21:59:59Z,None,None,3,2016-05-04T22:00:00Z